.card {
    width: 28%;
    max-width: 350px;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    &__selected {
        border: 1px solid rgba(51, 51, 51, 0.5);
    }
    &__image {
        height: 240px;
        background-repeat: no-repeat;
        background-position: center 10%;
        background-size: cover;
    }
    &__price {
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
        border-radius: 4px;
        position: absolute;
        top: 220px;
        left: 16px;
        color: #ffffff;
        background-color: #07b8c8;
        padding: 4px 8px;
    }
    &__content {
        overflow: hidden;
        margin: 32px 16px 20px;
    }
    &__header {
        display: block;
        font-size: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: #333333;
        margin-bottom: 12px;
        cursor: pointer;
    }
    &__stats {
        color: #666666;
    }
    &__check {
        margin-top: 16px;
    }
}

.checkbox:not(:checked),
.checkbox:checked {
    position: absolute;
    left: -99999px;
}

.checkbox:not(:checked)+label,
.checkbox:checked+label {
    position: relative;
    padding-left: 34px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    a {
        color: #333333;
        border-bottom: 1px solid #333333;
    }
}

.checkbox:not(:checked)+label:before,
.checkbox:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px #666666;
    background-color: #ffffff;
}

.checkbox:not(:checked)+label:after,
.checkbox:checked+label:after {
    content: '';
    background: url('../images/check.svg') no-repeat center;
    background-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: #17cca2;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.checkbox:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 1220px) {
    .card {
        width: 45%;
        &__image {
            height: 200px;
        }
        &__price {
            top: 185px;
        }
    }
}


@media (max-width: 1023px) {
    .card {
        margin: 12px;
        &__price {
            font-size: 18px;
            left: 12px;
        }
        &__content {
            margin: 32px 12px 16px;
        }
        &__header {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .card {
        width: auto;
        margin: 16px 0;
        &__image {
            height: 100px;
        }
        &__price {
            top: 85px;       
        }
        &__content {
            margin: 24px 12px 12px;
            font-size: 12px;
        }
        &__header {
            font-size: 18px;
            margin-bottom: 8px;
        }
        &__check {
            margin-top: 8px;
        }
    }

    .checkbox:not(:checked)+label,
    .checkbox:checked+label {
        padding-left: 28px;
        font-size: 14px;
        line-height: 20px;
        white-space: nowrap;
    }

    .checkbox:not(:checked)+label:before,
    .checkbox:checked+label:before {
        width: 18px;
        height: 18px;
    }

    .checkbox:not(:checked)+label:after,
    .checkbox:checked+label:after {
        width: 20px;
        height: 20px;
    }
}